<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
  {% load static %}
 
<link rel ="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

<body>
    <h1>welcome</h1>
    
        <div class="">
        <a  class="nav-item nav-link"href="{% url 'index' %}"><h3>Exit</h3></a>
       
    
        </div>
    
    

</body>
</html>