<html>
    <head>
        
     {% load static %}
        <link rel ="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
       </head>

<body>
                
                <div class="container">    
                <div class="col-md-5 col-md-7">
                <form method="POST" action="contact">
              
                 {% csrf_token %}
                 {% if form_data %}
                 <h3 class="page-header text-primary text-center">Contact</h3>

                 <label for="fname">Name</label>
                 <input name="name" type="text" class="form-control">
                 <label for="exampleInputEmail">Email</label>
                 <input name="email" type="email" id="exampleInputEmail" class="form-control" >
                 <label for="message"> Message </label>
                 <textarea name="message" id="message" cols="30" rows="10" class="form-control">

                 </textarea>
                 <input type="submit" class="btn btn-success btn-lg mt-1 m1-4">
               </form>
            </div>
        </div>
      {% endif %}
    
</body>
   
</html>